body {
    font-family: "Vend Sans", sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
    min-height: 70vh;   
    overflow-x: hidden;
    cursor: none;
}

.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: 2px solid #131313; 
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.9); 
    border-radius: 50%;
    pointer-events: none; 
    transform: translate(-50%, -50%); 
    transition: width 0.2s, height 0.2s, background-color 0.2s;
    z-index: 99999;
}

.custom-cursor.hovered {
    width: 50px;
    height: 50px;
    background-color: rgba(19, 19, 19, 0.1); 
    border: 2px solid #131313; 
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.9);
}

a {
    text-decoration: none;
    color: inherit;
    cursor: none;
    display: inline-block; 
    transition: opacity 0.2s ease, transform 0.2s ease;
}

a:hover {
    opacity: 0.6; 
    transform: translateY(-2px); 
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

.nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #131313;
    
    height: 6rem;
}

.nav-list {
    color: #FEFEFE;
    font-family: "Vend Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-grow: 1;
    
}

.volvo-logo {
    width: 10rem;
    height: 2rem;
    padding-left: 2rem;
}

.contact-us {
    margin: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.right-description {
    width: 30%;
}

span {
    font-weight: bold;
}

* {
    cursor: none !important;
}

